.Comedy {
  background: #21A045;
}
.Crime {
  background: #B1B3B2;
}
.Horror {
  background: #F11936;
}
.Mystery {
  background: #C4B415;
}
.Thriller {
  background: #78786B;
}
.Action {
  background: #367A58;
}
.Adventure {
  background: #DA7E0F;
}
.Fantasy {
  background: #280FDA;
}
.Fiction {
  background: #7C73BF;
}
.War {
  background: #8C260D;
}
.Drama {
  background: #AA47E2;
}
.Comedy {
  background: #17DEC6;
}
.Animation {
  background: #D67DAC;
}
.Family {
  background: #F444C4;
}
