.movieDetails {
  padding: 200px;
  font-size: 20px;
  line-height: 2;
}
.moviePoster {
  height: 500px;
  float: left;
  margin-right: 100px;
}
.movieDetailsBlock > h1 {
  font-size: 40px;
}
.movieRatingStar {
  width: 20px;
}
.movieOverview {
  margin-top: 350px;
}
