.movieDetails {
  padding: 200px;
  padding-top: 100px;
  font-size: 20px;
  line-height: 2;
}
.movieDetailsBlock > h1 {
  font-size: 40px;
}
.movieRatingStar {
  width: 20px;
}
.movieOverview {
  margin-top: 350px;
}
