.dark{
  background: #0C0434;
  color: white;
}
.light {
  background: #F4F7FC;
  color: black;
}
.mainHeader {
  display: flex;
  width: 300px;
  justify-content: space-around;
  float: right;
  margin-top: 30px;
  margin-right: 100px;
}
.changeThemeForm > select {
  font-size: 20px;
}
