.dark{
  background: #0C0434;
  color: white;
  background-image: linear-gradient(to bottom,rgba(43,43,49,0) 0%, #02020f 100%);
}
.light {
  background: #F4F7FC;
  color: black;
  background-image: linear-gradient(to bottom,rgba(43,43,49,0) 0%, #B0B0B0 100%);
}
.mainHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}
.mainHeader > input {
  height: 30px;
}
.moviesButton {
  border: none;
  width: 150px;
  font-size: 20px;
  text-decoration: underline;
  background: inherit;
}
.changeThemeSelect {
  font-size: 20px;
  border: none;
  background: inherit;
}
