.dark{
  background: #0C0434;
  color: white;
}
.light {
  background: #F4F7FC;
  color: black;
}
.mainHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}
.mainHeader > input {
  height: 30px;
}
.moviesButton {
  border: none;
  width: 150px;
  font-size: 20px;
  text-decoration: underline;
}
.changeThemeSelect {
  font-size: 20px;
  border: none;
}
