<div [ngClass]="!changeThemeForm.controls.theme.value ? 'dark' : changeThemeForm.controls.theme.value">
  <header class="mainHeader">
    <input type="text" name="searchInput" #searchInput (input)="search(searchInput)">
    <button (click)="allMovies()">All Movies</button>
    <button (click)="topMovies()">Top Movies</button>
    <form [formGroup]="changeThemeForm" class="changeThemeForm">
      <select [formControlName]="'theme'">
        <option value="dark" [selected]="true">dark</option>
        <option value="light">light</option>
      </select>
    </form>
    <app-user></app-user>
  </header>
  <app-movies-list></app-movies-list>
</div>
