<div [ngClass]="!changeThemeForm.controls.theme.value ? 'dark' : changeThemeForm.controls.theme.value">
  <header class="mainHeader">
    <input type="text" name="searchInput" #searchInput (input)="search(searchInput)" placeholder="search">
    <button (click)="allMovies()" class="moviesButton" [ngClass]="!changeThemeForm.controls.theme.value ? 'dark' : changeThemeForm.controls.theme.value">All Movies</button>
    <button (click)="topMovies()" class="moviesButton" [ngClass]="!changeThemeForm.controls.theme.value ? 'dark' : changeThemeForm.controls.theme.value">Top Movies</button>
    <form [formGroup]="changeThemeForm">
      <select [formControlName]="'theme'" class="changeThemeSelect" [ngClass]="!changeThemeForm.controls.theme.value ? 'dark' : changeThemeForm.controls.theme.value">
        <option value="dark" [selected]="true">dark</option>
        <option value="light">light</option>
      </select>
    </form>
    <app-user></app-user>
  </header>
  <router-outlet (activate)="onActive($event)"></router-outlet>
</div>
