<div class="movie">
  <button class="movieSelect" (click)="goToDetails()">
    <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt={{movie.title}} class="moviePoster">
  </button>

  <h3 class="movieTitle">{{movie.original_title}}</h3>
  <p class="movieMainInto">
    <img src="https://filmall.info/images/007-star.svg" class="movieRatingStar"> &nbsp; <span>{{movie.vote_average}}</span> |
    <span>{{movie.release_date}}</span> <br>
    <span>{{movie.genre_name}}</span>
  </p>
</div>
